body {
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: url('kay.png') top left/30% no-repeat;
}

.satu {
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #000;
  opacity: .5;
}

.dua {
  bottom: -3em;
  right: -3em;
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: salmon;
}